@{
    ViewData["Title"] = "Danh Mục mã khu";
}


<div class="row" id="Khu" v-cloak>
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <div class="card" style="width:100%">
            <div class="card-header text-body text-bold">
                Danh mục mã khu
            </div>
            <div class="card-body">
                <div class="row" style="padding-bottom:5px;">
                    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
                        <b-button variant="info" size="sm" model="modal-lg" v-on:click="ThemMoiKhu">
                            <i class="fa fa-plus-circle " aria-hidden="true" style="padding-right:10px;"></i>
                            Thêm mới khu
                        </b-button>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-sx-12">
                        <grid id="gridKhu" ref="gridKhu" v-bind:columns="cols" v-bind:config="option"
                              height="500px"> </grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <b-modal id="modelKhu" size="md" title="Thông tin khu" no-close-on-backdrop="true"
                 class="bootstrap-dialog-draggable">
            <b-container fluid>
                <b-row>
                    <div class="col-lg-2 col-md-4 col-sm-4 pl-1" style="padding-bottom:6px;">
                        <label class="font-weight-normal">Tên</label><label style="color:red">*</label>
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-12" style="padding-bottom:6px;">
                        <vue-txt id="Ten" focus placeholder="Tên khu" v-model="duLieu.TEN" dataType="String"
                                 title="Tên khu" required="true"> </vue-txt>
                    </div>
                </b-row>
            </b-container>
            <template v-slot:modal-footer>
                <b-row>
                    <b-col cols="12">
                        <b-button variant="info" size="sm" class="mr-1" v-on:click="LuulaiThongTin">
                            <i class="fa fa-save" aria-hidden="true" style="padding-right:10px;"></i>
                            Lưu lại
                        </b-button>
                    </b-col>
                </b-row>
            </template>
        </b-modal>
    </div>
</div>


<script type="text/javascript">
    const { createApp, onMounted, ref, reactive } = Vue


    var Vuejs = createApp({
        setup: function (props, ctx) {

            const cols = reactive([
                { id: "Ten", name: "Tên", field: "TEN", minWidth: 300   , filterType: "text" },
                { id: "Chon", name: "Thao tác", field: "CHON", minWidth: 80, formatter: AddButton, filterType: "none" }
            ]);

            const option = reactive({
                pageSize: 15,
                paging: "scroll",
                filter: true,
            });
            const duLieu = reactive({ TrangThai: 'C', Ten: '', MoTa: '' });

            onMounted(() => {
                loadThongTin();
            });

            function ThemMoiKhu() {
                Reset();
                Vuejs.$bvModal.show("modelKhu");
            }

            function LuulaiThongTin() {
                if (!checkIsValid("modelKhu")) {
                    return false;
                } 

                var newUrl = danhMuc.urlKhuNhap
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(Vuejs.duLieu),
                    url: newUrl,
                    dataType: "json",
                    success: function (b_data) {
                        Vuejs.$refs.gridKhu.setDataSource(b_data);
                        Vuejs.$bvModal.hide("modelKhu");
                    }
                });
            }

            return {
                cols, duLieu, option,
                ThemMoiKhu, LuulaiThongTin
            }
        }
    }).mount('#Khu');


    function AddButton(row, cell, value, columnDef, dataContext) {
        if (value != "") {
            var str = "";
            str = " <div style = 'text-align: center; width:100%;'> ";
            str += " <button  class='btn btn-info btn-sm' onclick=\"Xemchitiet('" + dataContext.Id + "', " + row + ")\"><i class='glyphicon glyphicon-edit'></i></button>";
            str += "<button  onclick=\"Xoathongtin('" + dataContext.ID + "', " + row + " )\" class='btn btn-danger btn-sm'><i class='glyphicon glyphicon-remove'></i></button></div> ";

            return str;
        }
        else return value;
    }


    function Reset() {
        Vuejs.duLieu = {TEN: '', ID: 0 };
    }

    function Xemchitiet(Id, row) {
        Vuejs.duLieu = Vuejs.$refs.gridKhu.getDataByRowIndex(row);
        Vuejs.$bvModal.show("modelKhu");
    }


    function Xoathongtin(id, row) {
        confirmBox(function (dialog, msg) {
            var newUrl = danhMuc.urlKhuXoa + "?Id=" + id;

            $.ajax({
                type: "GET",
                url: newUrl,
                dataType: "json",
                success: function (b_data) {
                    Vuejs.$refs.gridKhu.deleteRow(row);
                }
            });

            dialog.close();
        });
    }

    function loadThongTin() {
        var newUrl = danhMuc.urlKhuLKe

        $.ajax({
            type: "GET",
            url: newUrl,
            dataType: "json",
            success: function (b_data) {
                Vuejs.$refs.gridKhu.setDataSource(b_data);
            }
        });
    }
</script>
